<!DOCTYPE html>
<head>
    <title>Face Detection Website</title>
</head>
<html>
 <!-- Aatmaj Amol Salunke
    CodeClause Internship July 2023
    Web Development 
    Face Detection Website -->

  <body>
    <div class="container">
        <div class="row">
            <center><div class="col-lg-8  offset-lg-2"></centre>
                <h1 class="mt-5">Face Detection Portal</h1>
                <h2 class="mt-5">Code Clause Internship-July 2023</h2>
                <hr>
                <img src="{{ url_for('video_feed') }}" width="50%">
            </div>
        </div>
    </div>
    </body>


</html>